$color_primario:rgb(13, 32, 51);
$color_secundario:rgb(10, 20, 29);
$color_terciario:rgb(10, 26, 42);
$color_acento: rgba(4, 217, 255, 0.71); 
$color_rojo: rgba(255, 82, 82, 0.8);  
$color_verde: rgba(14, 190, 102, 0.8); 
